.CVInput {
  grid-area: 2 / 1 / 3 / 2;
  width: 100%;
  height: 100%;
  border: 1px solid dimgray;
  border-radius: 7px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

hr {
  border-top: 0.5px dotted dimgray;
}

.GeneralInfoInput,
.SummaryInput,
.WorkInput,
.EducationInput {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}

.names,
.contact,
.companyInfo,
.expInfo,
.workTasks,
.schoolInfo,
.schoolToFrom {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

#firstName,
#lastName,
#city,
#email,
#phone,
#profSummary,
#title,
#company,
#position,
#workStartDate,
#workEndDate,
#location,
#workSummary,
#university,
#degree,
#schoolStartDate,
#schoolEndDate,
#gpa {
  width: 100%;
  padding: 3px 5px;
}

.buttons {
  margin-top: -10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

#moreWork,
#removeWork,
#moreEdu,
#removeEdu {
  padding: 3px 5px;
}

#profSummary,
#workSummary {
  height: 30px;
}
