.CVInput {
  grid-area: 2 / 1 / 3 / 2;
  width: 100%;
  height: 100%;
  border: 1px solid dimgray;
  border-radius: 7px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

hr {
  border-top: 0.5px dotted dimgray;
}

.GeneralInfo,
.ProfessionalExp {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}

.names,
.contact,
.companyInfo,
.expInfo {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

#firstName,
#lastName,
#city,
#email,
#phone,
#company,
#position,
#startDate,
#endDate,
#location {
  width: 100%;
}
